/* event previews / list */

.event-preview-detail {
    padding: 10px 16px;
    margin: 20px 0;
    border-bottom: 1px solid #fafafa;
  }

.event-features-detail {
    display: flex;
  }

  .event-preview-detail:hover {
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
  }
  .event-preview-detail h2 {
    font-size: 40px;
    color: #f1356d;
    margin-bottom: 20px;
    text-align: center;
  }
  .event-preview-detail p {
    font-size: 15px;
    margin-bottom: 8px;
    margin-left:60px;
  }
  
  .content-detail {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
  }
  .event-list-detail {
    padding: 10px 10px;
    border-bottom: 1px solid #fafafa;
  }
  .event-grid-detail {
    grid-template-columns: 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
  }

  .btn-dark-detail {
    margin-block-start: 20px;
  }
  
  .button-block {
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .participants {
    margin-left:500px;
  }

  .participants p{
    display: list-item;
    margin-top: 10px;
    margin-left: 5px;

  }

  .event-inner-detail {
    margin-left:200px
  }
  
  .inner-link {
    white-space: pre-line;
  }

  .sport-type {
    text-align: center;
    margin-bottom: 60px;
  }

  .sport-type p{
    text-align: center;
    margin-left: 0px;
    margin-top: 10px
  }