.modal-backdrop-event {
    height: 100vh;
    width: 100vw;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.4);
}

.modal-content-wrapper-event {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content-event {
    max-width: 800px; 
    display: inline;
    background: white;
}

.modal-content-event h2 {
    font-size: 40px;
    color: #f1356d;
    margin-left: 16px;
    padding: 20px 20px;
}

.modal-content-event p {
    font-size: 18px;
    margin-left: 16px;
    padding: 3px 16px;
}