<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group4 Homepage</title>
    <link rel="stylesheet" href="{% static 'button.css' %}">
</head>


<div class="header">
  <a href="#default" class="logo">PracticeApp-Group4</a>
  <div class="header-right">
    <a class="active" href="#home">Home</a>

    <a href="{% url 'register' %}">Register</a>
     <a href="{% url 'search_user' %}">Search User</a>
       <a href="{% url 'eq_post' %}">Equipment Post</a>


      <a href="{% url 'event_post' %}">Event Post</a>
      <a href="{% url 'places' %}">Places API</a>
      <a href="{% url 'covid19' %}"> Covid19 API</a>


     <a href="{% url 'random_article' %}">Random Article </a>
      <a href="{% url 'holidays' %}">Holidays API </a>
      <a href="{% url 'formula1' %}">Formula1 API</a>


      <a href="{% url 'select_team' %}">NBA Team API </a>
      <a href="{% url 'hava' %}">Hava API</a>
  </div>
</div>


<body>
    <h2>You can Create an Event </h2>
<form id="event_post" method="POST" class="form-group" validate action="">
  {{ post }}
  <button type='submit'>Submit</button>

</form>


</body>





<div class="footer">
   <h4> Our Github Repo : <a href="https://github.com/bounswe/2021SpringGroup4"> 2021SpringGroup4 </a>   </h4>
<p>
      Our Team Members :
      <a href="https://github.com/bounswe/2021SpringGroup4/wiki/Salih-Furkan-Akkurt"> Salih Furkan Akkurt </a>  ,
      <a href="https://github.com/bounswe/2021SpringGroup4/wiki/Ece-Dilara-Aslan"> Ece Dilara Aslan </a> ,
      <a href="https://github.com/bounswe/2021SpringGroup4/wiki/%C4%B0hsan-Mert-Atalay"> İhsan Mert Atalay </a>,
      <a href="https://github.com/bounswe/2021SpringGroup4/wiki/Muhammed-Irfan-Bozkurt"> Muhammed İrfan Bozkurt</a>,
      <a href="https://github.com/bounswe/2021SpringGroup4/wiki/Muhammed-Irfan-Bozkurt"> Mehmet Hilmi Dündar</a>,
      <a href="https://github.com/bounswe/2021SpringGroup4/wiki/Muhammed-Irfan-Bozkurt"> Berkay Gümüş</a>,
       <a href="https://github.com/bounswe/2021SpringGroup4/wiki/Muhammed-Irfan-Bozkurt"> Tolga Kerimoğlu</a>,
       <a href="https://github.com/bounswe/2021SpringGroup4/wiki/Muhammed-Irfan-Bozkurt"> Yiğit Sarıoğlu </a>,
      <a href="https://github.com/bounswe/2021SpringGroup4/wiki/Muhammed-Irfan-Bozkurt"> Yağmur Selek </a>


  </p>
</div>
</html>
