<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'button.css' %}">
    <title>Formula 1 - {{year}} Standings</title>

</head>



<div class="header">
  <a href="#default" class="logo">MyApp</a>
  <div class="header-right">
    <a  href="http://localhost:8000/">Home</a>

    <a href="http://localhost:8000/register/">Register</a>
     <a href="http://localhost:8000/search_user/">Search User</a>
       <a href="http://localhost:8000/eq_post/">Equipment Post</a>


      <a href="http://localhost:8000/event_post/">Event Post</a>
      <a href="http://localhost:8000/places/">Places API</a>
      <a href="http://localhost:8000/covid19/"> Covid19 API</a>


     <a href="http://localhost:8000/random_article/">Random Article </a>
      <a href="http://localhost:8000/holidays/ ">Holidays API </a>
      <a class="active" href="http://localhost:8000/formula1/">Formula1 API</a>


      <a href="http://localhost:8000/team/">NBA Team API </a>
      <a href="http://localhost:8000/hava/">Hava API</a>
  </div>
</div>

<body style="text-align:center">
    
    <h1>Current Driver Standings</h1>
    <h2>Season {{year}}</h2>
    <table style="width:50%; text-align:center; border:1px solid; margin-left:auto; margin-right:auto">
        <tr>
            <th>Rank</th>
            <th>Driver</th>
            <th>Constructor</th>
            <th>Points</th>
            <th>Wins</th>
        </tr>
        {% for row in table %}
            <tr>
                <td>{{row.0}}</td>
                <td>{{row.1}}</td>
                <td>{{row.2}}</td>
                <td>{{row.3}}</td>
                <td>{{row.4}}</td>
            </tr>
        {% endfor %}
    </table>
    <br/><br/>
    <form action="/formula1/driver_info/" method="post">
        
        {% csrf_token %}

        Enter the name of the driver you want to search: <input type="text" name="driver_name" required><br>
        <button type="submit">Search</button>

    </form>
    
</body>



<div class="footer">
   <h4> Our Github Repo : <a href="https://github.com/bounswe/2021SpringGroup4"> 2021SpringGroup4 </a>   </h4>
<p>
      Our Team Members :
      <a href="https://github.com/bounswe/2021SpringGroup4/wiki/Salih-Furkan-Akkurt"> Salih Furkan Akkurt </a>  ,
      <a href="https://github.com/bounswe/2021SpringGroup4/wiki/Ece-Dilara-Aslan"> Ece Dilara Aslan </a> ,
      <a href="https://github.com/bounswe/2021SpringGroup4/wiki/%C4%B0hsan-Mert-Atalay"> İhsan Mert Atalay </a>,
      <a href="https://github.com/bounswe/2021SpringGroup4/wiki/Muhammed-Irfan-Bozkurt"> Muhammed İrfan Bozkurt</a>,
      <a href="https://github.com/bounswe/2021SpringGroup4/wiki/Muhammed-Irfan-Bozkurt"> Mehmet Hilmi Dündar</a>,
      <a href="https://github.com/bounswe/2021SpringGroup4/wiki/Muhammed-Irfan-Bozkurt"> Berkay Gümüş</a>,
       <a href="https://github.com/bounswe/2021SpringGroup4/wiki/Muhammed-Irfan-Bozkurt"> Tolga Kerimoğlu</a>,
       <a href="https://github.com/bounswe/2021SpringGroup4/wiki/Muhammed-Irfan-Bozkurt"> Yiğit Sarıoğlu </a>,
      <a href="https://github.com/bounswe/2021SpringGroup4/wiki/Muhammed-Irfan-Bozkurt"> Yağmur Selek </a>


  </p>
</div>
</html>