<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group4 Homepage</title>
    <link rel="stylesheet" href="{% static 'button.css' %}">
</head>


<div class="header">
  <a href="#default" class="logo">PracticeApp-Group4</a>
  <div class="header-right">
    <a href="{% url 'api-overview' %}">Home</a>

    <a href="{% url 'register' %}">Register</a>
     <a href="{% url 'search_user' %}">Search User</a>
       <a href="{% url 'eq_post' %}">Equipment Post</a>


      <a href="{% url 'event_post' %}">Event Post</a>
      <a href="{% url 'places' %}">Places API</a>
      <a href="{% url 'covid19' %}"> Covid19 API</a>


     <a href="{% url 'random_article' %}">Random Article </a>
      <a href="{% url 'holidays' %}">Holidays API </a>
      <a href="{% url 'formula1' %}">Formula1 API</a>


      <a href="{% url 'select_team' %}">NBA Team API </a>
      <a class="active" href="{% url 'hava' %}">Hava API</a>
  </div>
</div>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    What's the weather like?
                </h1>
            </div>
        </div>
    </section>
   
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{city_weather.icon}}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{city_weather.city}}</span>
                                        <br>
                                        <span class="subtitle">{{city_weather.temperature}} C</span>
                                        <br> {{city_weather.description}}
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
  
</body>

</html>