<!DOCTYPE html>
<html>
<head>
  <title>2021SpringGroup4</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="ALBUSOFT,software company" />
  <link rel="shortcut icon" href="asfav.png" type="image/x-icon" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="teknik.css">

  <style>
      p{font-size: 15px;
      text-align: justify;
      text-indent: 50px;
      }
      h1{
  color: #19538a;
    text-transform: capitalize;
    font-size: 2.1em;
    font-weight: 600;
    text-shadow: 1px 1px 1px #969696;
    padding-top: 30px;
}
h2{
  color: #19538a;
    text-transform: capitalize;
    font-size: 1.7em;
    font-weight: 600;
    text-shadow: 1px 1px 1px #969696;
}
#scrool li{   
    text-transform: capitalize;
    font-size: 1.3em;
    font-weight: 600;
    text-shadow: 1px 1px 1px #969696;}

    @media screen and (max-width: 800px) {

#myScrollspy{position: relative !important; top: 10px !important;}
.btn{ margin: 0  !important; }
#title{font-size:1.9em !important;}

}



    </style>

  </head>
  <body>
 <!--
  <p id="demo" style="position:absolute; top:50px; font-size:33px;"></p>

<script>
(function () {
  var w = window.outerWidth;
  var h = window.outerHeight;
  document.getElementById("demo").innerHTML = "Width: " + w + "<br>Height: " + h;
  })();


</script>
-->
<div style="width: 100%; height: 80px; background: cyan;position: fixed; z-index: 1;">
    <h1 id="title" style="font-size:2.5em ;  margin-left: 15%; color: rgb(0, 0, 46); position: relative; top: -20px; ">2021SpringGroup4-DjangoAPI</h1>
 </div>
 <div style="height: 80px; width: 100%;"></div>
        <div class="container" style="">
          <div class="row">
            <nav class="col-sm-4" id="myScrollspy"  style="float:left;  position: fixed; top:100px;  height: auto; overflow: auto; ">
              <ol id="scrool" >
                <li style="margin-top:7px; margin-right:15px;" class="active"><a href="#section1">Project Name  </a></li>
                <li style="margin-top:7px;margin-right:15px;"><a href="#section2">Project Name</a></li>
                <li style="margin-top:7px;margin-right:15px;"><a href="#section3">Project Name</a></li>
                <li style="margin-top:7px;margin-right:15px;"><a href="#section4">Project Name</a></li>
                <li style="margin-top:7px;margin-right:15px;"><a href="#section5">Project Name</a></li>
                <li style="margin-top:7px;margin-right:15px;"><a href="#section6">Project Name</a></li>
                <li style="margin-top:7px;margin-right:15px;"><a href="#section7">Project Name</a></li>
                <li style="margin-top:7px;margin-right:15px;"><a href="#section8">Project Name</a></li>
                <li style="margin-top:7px;margin-right:15px;"><a href="#section9">Project Name</a></li>
           
               
              </ol>
            </nav>
            <div class="col-sm-8"   style="float: right; ">
              
                <div id="section1">    
                    <h1>1.Project Name - Name Surname</h1>
                    <img id="img" src="img.jpg" style="width: 200px; height: 150px; float :right; margin: 0px 0px 15px 15px;">
    
                    <p>Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description 
                    Description Description Description Description Description Description Description Description Description Description Description 
                                   <a href="projectx.html"> <button type="button" class="btn btn-success" style="margin: 20px 15px 0px 0px; float: right;" >View Project</button></a>
  
                </p>
                </div>
                <div id="section2">    
                    <h1>2.Project Name - Name Surname</h1>
                    <img id="img" src="img.jpg" style="width: 200px; height: 150px; float :right; margin: 0px 0px 15px 15px;">
    
                    <p>Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description 
                    Description Description Description Description Description Description Description Description Description Description Description 
                                   <a href="projectx.html"> <button type="button" class="btn btn-success" style="margin: 20px 15px 0px 0px; float: right;" >View Project</button></a>
  
                </p>
                </div>
                <div id="section3">    
                    <h1>3.Project Name - Name Surname</h1>
                    <img id="img" src="img.jpg" style="width: 200px; height: 150px; float :right; margin: 0px 0px 15px 15px;">
    
                    <p>Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description 
                    Description Description Description Description Description Description Description Description Description Description Description 
                                   <a href="projectx.html"> <button type="button" class="btn btn-success" style="margin: 20px 15px 0px 0px; float: right;" >View Project</button></a>
  
                </p>
                </div>
                <div id="section4">    
                    <h1>4.Project Name - Name Surname</h1>
                    <img id="img" src="img.jpg" style="width: 200px; height: 150px; float :right; margin: 0px 0px 15px 15px;">
    
                    <p>Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description 
                    Description Description Description Description Description Description Description Description Description Description Description 
                                   <a href="projectx.html"> <button type="button" class="btn btn-success" style="margin: 20px 15px 0px 0px; float: right;" >View Project</button></a>
  
                </p>
                </div>
                <div id="section5">    
                    <h1>5.Project Name - Name Surname</h1>
                    <img id="img" src="img.jpg" style="width: 200px; height: 150px; float :right; margin: 0px 0px 15px 15px;">
    
                    <p>Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description 
                    Description Description Description Description Description Description Description Description Description Description Description 
                                   <a href="projectx.html"> <button type="button" class="btn btn-success" style="margin: 20px 15px 0px 0px; float: right;" >View Project</button></a>
  
                </p>
                </div>
                <div id="section6">    
                    <h1>6.Project Name - Name Surname</h1>
                    <img id="img" src="img.jpg" style="width: 200px; height: 150px; float :right; margin: 0px 0px 15px 15px;">
    
                    <p>Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description 
                    Description Description Description Description Description Description Description Description Description Description Description 
                                   <a href="projectx.html"> <button type="button" class="btn btn-success" style="margin: 20px 15px 0px 0px; float: right;" >View Project</button></a>
  
                </p>
                </div>
                <div id="section7">    
                    <h1>7.Project Name - Name Surname</h1>
                    <img id="img" src="img.jpg" style="width: 200px; height: 150px; float :right; margin: 0px 0px 15px 15px;">
    
                    <p>Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description 
                    Description Description Description Description Description Description Description Description Description Description Description 
                                   <a href="projectx.html"> <button type="button" class="btn btn-success" style="margin: 20px 15px 0px 0px; float: right;" >View Project</button></a>
  
                </p>
                </div>
                <div id="section8">    
                    <h1>8.Project Name - Name Surname</h1>
                    <img id="img" src="img.jpg" style="width: 200px; height: 150px; float :right; margin: 0px 0px 15px 15px;">
    
                    <p>Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description 
                    Description Description Description Description Description Description Description Description Description Description Description 
                                   <a href="projectx.html"> <button type="button" class="btn btn-success" style="margin: 20px 15px 0px 0px; float: right;" >View Project</button></a>
  
                </p>
                </div>
                <div id="section9">    
                    <h1>9.Project Name - Name Surname</h1>
                    <img id="img" src="img.jpg" style="width: 200px; height: 150px; float :right; margin: 0px 0px 15px 15px;">
    
                    <p>Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description 
                    Description Description Description Description Description Description Description Description Description Description Description 
                                   <a href="projectx.html"> <button type="button" class="btn btn-success" style="margin: 20px 15px 0px 0px; float: right;" >View Project</button></a>
  
                </p>
                </div>
                
                       
             
            </div>
          </div>
        </div>
        <script>$('.navbar-collapse a').click(function(){
            $(".navbar-collapse").collapse('hide');
          });
          
          $(document).ready(function(){
            // Add scrollspy to <body>
          
            // Add smooth scrolling on all links inside the navbar
            $(" a").on('click', function(event) {
              // Make sure this.hash has a value before overriding default behavior
              if (this.hash !== "") {
                // Prevent default anchor click behavior
                event.preventDefault();
          
                // Store hash
                var hash = this.hash;
          
                // Using jQuery's animate() method to add smooth page scroll
                // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                $('html, body').animate({
                  scrollTop: $(hash).offset().top
                }, 800, function(){
             
                  // Add hash (#) to URL when done scrolling (default click behavior)
                  window.location.hash = hash;
                });
              }  // End if
            });
          });
          </script>
          
        </body>
        </html>