<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'button.css' %}">
</head>

<body>
    <div class="button_cont" ><a class="button" href="http://localhost:8000/register/">Register API</a></div>
    <div class="button_cont" ><a class="button" href="http://localhost:8000/search_user/">Search User API</a></div>
    <div class="button_cont" ><a class="button" href="http://localhost:8000/random_article/">Random Article API</a></div>
    <div class="button_cont" ><a class="button" href="http://localhost:8000/eq_post/">Create Equipment Post API</a></div>
    <div class="button_cont" ><a class="button" href="http://localhost:8000/covid19/">Covid19 Case Reports API</a></div>
    <div class="button_cont" ><a class="button" href="http://localhost:8000/formula1/">Formula1 API</a></div>
    <div class="button_cont" ><a class="button" href="http://localhost:8000/team/">NBA Team Info API</a></div>
    <div class="button_cont" ><a class="button" href="http://localhost:8000/event_post/">Create Event Post API</a></div>
    <div class="button_cont" ><a class="button" href="http://localhost:8000/holidays/">Holidays API</a></div>
    <div class="button_cont" ><a class="button" href="http://localhost:8000/hava/">Hava API</a></div>
</body>

</html>
