<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group4 Homepage</title>
    <link rel="stylesheet" href="{% static 'button.css' %}">
</head>


<div class="header">
  <a href="#default" class="logo">PracticeApp-Group4</a>
  <div class="header-right">
    <ahref="{% url 'api-overview' %}">Home</a>

    <a href="{% url 'register' %}">Register</a>
     <a href="{% url 'search_user' %}">Search User</a>
       <a href="{% url 'eq_post' %}">Equipment Post</a>


      <a href="{% url 'event_post' %}">Event Post</a>
      <a href="{% url 'places' %}">Places API</a>
      <a href="{% url 'covid19' %}"> Covid19 API</a>


     <a href="{% url 'random_article' %}">Random Article </a>
      <a href="{% url 'holidays' %}">Holidays API </a>
      <a href="{% url 'formula1' %}">Formula1 API</a>


      <a class="active" href="{% url 'select_team' %}">NBA Team API </a>
      <a href="{% url 'hava' %}">Hava API</a>
  </div>
</div>



<body>
  <h1> <b> NBA TEAM  </b> </h1>   </br>


   <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
  </form>

</body>



<div class="footer">
  <h4> Our Github Repo : <a href="https://github.com/bounswe/2021SpringGroup4"> 2021SpringGroup4 </a>   </h4>
<p>
     Team Members :
     <a href="https://github.com/bounswe/2021SpringGroup4/wiki/Salih-Furkan-Akkurt"> Salih Furkan Akkurt </a>  ,
     <a href="https://github.com/bounswe/2021SpringGroup4/wiki/Ece-Dilara-Aslan"> Ece Dilara Aslan </a> ,
     <a href="https://github.com/bounswe/2021SpringGroup4/wiki/%C4%B0hsan-Mert-Atalay"> İhsan Mert Atalay </a>,
     <a href="https://github.com/bounswe/2021SpringGroup4/wiki/Muhammed-Irfan-Bozkurt"> Muhammed İrfan Bozkurt</a>,
     <a href="https://github.com/bounswe/2021SpringGroup4/wiki/Mehmet-Hilmi-D%C3%BCndar"> Mehmet Hilmi Dündar</a>,
     <a href="https://github.com/bounswe/2021SpringGroup4/wiki/Berkay-G%C3%BCm%C3%BC%C5%9F"> Berkay Gümüş</a>,
      <a href="https://github.com/bounswe/2021SpringGroup4/wiki/Tolga-Kerimo%C4%9Flu"> Tolga Kerimoğlu</a>,
      <a href="https://github.com/bounswe/2021SpringGroup4/wiki/Yi%C4%9Fit-Sar%C4%B1o%C4%9Flu"> Yiğit Sarıoğlu </a>,
     <a href="https://github.com/bounswe/2021SpringGroup4/wiki/Ya%C4%9Fmur-Selek"> Yağmur Selek </a>


 </p>
</div>

</html>
